* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f6f9;
  font-family: Arial, sans-serif;
}

.container {
  width: 90%;
  margin: 30px auto;
}

.navbar {
  background: #111827;
  color: white;
  padding: 20px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a.active {
  color: #60a5fa;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-bottom: 20px;
}

.card h1 {
  color: #2563eb;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background: white;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 12px;
}

table th {
  background: #2563eb;
  color: white;
}

.section {
  margin-top: 40px;
}

.form-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.form-card input,
.form-card select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.page-layout {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 30px;
}